# BANCO
ConnectionStrings__DefaultConnection=Server=localhost;Database=CafeJijiDb;Uid=SEU_USUARIO;Pwd=SUA_SENHA;

# JWT
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=

# SEED USERS
SeedUsers__SrPassword=
SeedUsers__MidPassword=
SeedUsers__JrPassword=