# Configuração do Banco de Dados para o CafeJiji
ConnectionStrings__DefaultConnection=Server=localhost;Database=CafeJijiDb;Uid=SEU_USUARIO;Pwd=SUA_SENHA;

# Configurações Gerais
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
AllowedHosts=*